body  
{
  font-size: 16px;
  font-family: "candara";
}
.img
{
 max-width: 200px;
 padding-right: 1em;
}
.container
{
      display:flex;
    align-items: center;
}
.hdFont
{
    font-size: 2em;
}
header nav a
{
    padding-right: 1em;
    padding-left: 1em;
}

.fill
{
    flex:1;
}

footer
{
    background-color: lightgrey;
    height: 30px;
    align-items: center;
    display: flex;
}

footer p
{
    padding: 5px;
}

.foodImg
{
    width:400px;
}

.myTable th
{
    background-color: lightgrey;
    height: 20px;
     
}
.myTable td
{
    text-align: center;
    border:1px lightgray solid;
}
.myTable
{
    margin-top:5px;
    margin-bottom: 5px;
}

.menuFdImg
{
    width:300px;
}
.foodnm
{
    float:left;
}
.foodprz, .menuBtn
{
    float: right;
}

.MenuTbl td
{
    /*border:1px lightgray solid;*/
}